.auth
    width: 260px
    position: relative
    top: 200px
    margin: 0 auto

    fieldset
        margin: 0 0 15px

    .pt-input
        width: 250px

    .pt-tabs
        .pt-tab
            h2
                display: inline

            & + .pt-tab
                margin-left: 20px

            &[aria-selected=false]
                cursor: pointer

                h2
                    color: #aaa
