.main-menu
    margin: 50px 0 0
    font-size: 12px
    position: relative
    text-transform: uppercase
    z-index: 2

    ul
        li
            position: relative

            a
                display: inline-block
                padding: 10px 10px 10px 50px
                color: #acaba7
                text-decoration: none

            &.active
                background: #f8f3f0

                a
                    color: #c3a279 //4c4743
                    cursor: default
