* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-size: 100.1%; }

body {
  font: 12px/1.333 Arial, sans-serif;
  height: 100%;
  color: #666; }

a img, fieldset {
  border: 0; }

a {
  outline: none; }

li {
  list-style: none; }

table {
  border-collapse: collapse; }
  table td {
    padding: 10px;
    border-top: 1px solid #ccc; }
  table tr:first-child td {
    border: 0; }
  table tr:hover td {
    background: #eee;
    cursor: pointer; }
  table.full {
    width: 100%; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr {
  display: inline; }

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px; }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px; }

.hgroup {
  margin: 0 0 10px; }
  .hgroup h3 {
    margin: 0;
    display: inline-block; }
  .hgroup a {
    margin: 0 0 0 10px; }

.cols {
  display: flex;
  justify-content: space-between; }
  .cols .col {
    width: 45%; }

.mt50 {
  margin-top: 50px; }

.wrapper {
  max-width: 1280px;
  min-width: 1024px;
  margin: 0 auto; }
  .wrapper a {
    color: #666; }
    .wrapper a:hover {
      text-decoration: none; }

header {
  border-bottom: 1px solid #666;
  padding: 20px 25px;
  margin: 0 -25px 50px;
  overflow: hidden;
  width: 100%; }

footer {
  margin: 50px -25px 0;
  border-top: 1px solid #666;
  padding: 20px 25px;
  width: 100%; }

.main-menu {
  font-size: 16px;
  justify-content: flex-start; }
  .main-menu ul li {
    float: left;
    padding: 5px 10px; }
    .main-menu ul li:first-child {
      margin: 0; }
    .main-menu ul li.active {
      border: 1px solid #666; }
      .main-menu ul li.active a {
        text-decoration: none;
        cursor: default; }

.account-menu ul li {
  float: right;
  margin: 0 10px 0 0; }
  .account-menu ul li:first-child {
    margin: 0; }

.graph {
  padding: 15px;
  border: 5px solid #666;
  height: 320px; }

.categories-list .changeCategoryNameForm {
  display: inline-block;
  vertical-align: middle; }

.categories-list li {
  padding: 5px 10px;
  overflow: hidden; }
  .categories-list li .actions {
    float: right; }
  .categories-list li:hover {
    background: #f2f2f2; }
  .categories-list li + li {
    margin: 15px 0 0; }

.categories-list label {
  margin: 0 0 0 10px; }

.categories-list .name {
  font-size: 14px;
  display: inline-block;
  margin: 0 25px 0 0;
  width: 200px;
  cursor: pointer; }
  .categories-list .name:hover span {
    display: inline; }
  .categories-list .name span {
    display: none; }

.add-category + .categories-list {
  margin: 40px 0 0; }
