#root
    height: 100%

.oHidden
    overflow: hidden

.island
    position: relative

.content
    padding: 35px 50px 85px

    .cols
        .l-col
            width: 65%

            & + .l-col
                width: auto
                margin: 0 0 0 30px

.wrapper
    position: relative
    min-width: 1280px
    height: 100%

    .pt-icon,
    .pt-icon-standard,
    .pt-icon-large
        color: #8a92a5

    &.cols
        > .l-col
            width: 250px

            &:after
                content: ''
                position: absolute
                left: 0
                top: 0
                bottom: 0
                width: 250px
                background: #4c4743

        > .r-col
            float: none
            margin-left: 250px
            background: #f8f3f0

    a
        color: #666

        &:hover
            text-decoration: none

.main-info
    position: relative
    min-height: 100%
